[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=/usr/games/everVoid
Categories=Java;Game;StrategyGame;3DGraphics
Name=everVoid
Comment=everVoid space game
Icon=/usr/share/games/everVoid/res/gfx/icons/void/icon512.png
